@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Regular.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'TikTokFont', system-ui, sans-serif;
  background-color: #2c2d30;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  width: 300px;
  height: 600px;
  position: relative;
  background: #666;
  border-radius: 50px;

  &::before {
    content: '';
    inset: 3px;
    position: absolute;
    background: white;
    border-radius: 48px;
  }
}

.inner {
  inset: 3px;
  border: 10px solid black;
  display: flex;
  justify-content: center;
  position: absolute;
  overflow: scroll;
  width: 100%;
  scroll-snap-type: y mandatory;
  border-radius: 48px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.island {
  top: 10px;
  width: 90px;
  height: 25px;
  z-index: 10;
  position: absolute;
  background: black;
  transition: all 640ms cubic-bezier(.77, 0, .18, 1);
  border-radius: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1300ms cubic-bezier(.77, 0, .18, 1);
}

.video {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  scroll-snap-align: start;
}

.appVideos {
  @apply relative w-[300px] h-[600px] ml-[47px] overflow-scroll max-w-[500px] snap-y snap-mandatory;
  scrollbar-width: none;
  border-radius: 20px 20px 0 0;

  &::-webkit-scrollbar {
    display: none;
  }
}