@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Regular.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TikTokFont';
  src: url(/fonts/TikTokFont-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  display: grid;
  min-height: 100vh;
  background: #e5e5e5;
  font-family: 'TikTokFont', system-ui, sans-serif;
  place-content: center;
  
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.shadow-filter {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
}

.island {
  top: 10px;
  width: 90px;
  height: 25px;
  position: absolute;
  background: black;
  transition: all 640ms cubic-bezier(.77, 0, .18, 1);
  border-radius: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1100ms cubic-bezier(.77, 0, .18, 1);
}